<h1>Add a new cocktail</h1>

<%= render "components/banner-secondary" %>

<div class="container">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, placeholder: 'Cocktail' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit :submit %>
<% end %>
</div>
