<h1>Doses#new</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder:'Dose in ml' %>
  <%= f.association :ingredient, placeholder: 'Ingredient' %>
  <%= f.submit "Add Ingredient(s)", class: 'btn btn-primary' %>
<% end %>

  <% @cocktail.ingredients.each do |ingredient| %>
    <p>Ingredient: <%= ingredient.name %></p>
  <% end %>
