  <% @cocktail.doses.each do |ingredient| %>
    <p>ingredient</p>
    <%= link_to "Delete Ingredient", dose_path(ingredient), method: :delete  %>
  <% end %>

<%= link_to "Add Another Ingredient", new_cocktail_dose_path, class: 'btn btn-primary' %>


<div class="drinks-list">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= cocktail.name %></li>
    <% end %>
  </ul>
</div>



<p><%= link_to "Add Cocktail", new_cocktail_path %></p>



<%= link_to product_path (product) do %>
  <%= image_tag "brooke-lark-HjWzkqW1dgI-unsplash.jpg", :size => "100%x100%", class: "img-responsive center-block" %>
<% end %>


<%= cl_image_tag(cocktail.photo.key, height: 200, crop: :fill, class: 'card-img-top') %>
<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Blood and Sand</h5>
        <p class="card-text">This classic is made by combining equal parts Scotch, sweet vermouth, Cherry Heering (the “blood”), and orange juice (the “sand”)</p>
        <p class="card-text"><small class="text-muted">See Recepie</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Irish Coffee</h5>
        <p class="card-text">Pioneered by Irish Chef Joe Sheridan in the 1940s. James Beard winner and author of “The Craft of the Cocktail” Dale DeGroff describes Irish Coffee as, “cold cream, hot sweet coffee, laced with wonderful Irish whiskey.”</p>
        <p class="card-text"><small class="text-muted">See Recepie</small></p>
      </div>
    </div>
      <div class="card">
      <div class="card-body">
        <h5 class="card-title">Old Cuban</h5>
        <p class="card-text">This cocktail combines aged run, lime juice, mint leaves, and Angostura bitters, before being topped off by a healthy splash of Champagne.</p>
        <p class="card-text"><small class="text-muted">See Recepie</small></p>
      </div>
    </div>
  </div>
</div>
 -->

<!--  <div class="container">
   <div class="row justify-content-center">
     <ul>
       <%# @cocktails.each do |cocktail| %>
         <li>
             <div class="card">
             <div class="card-body">
               <h5 class="card-title"><%= #cocktail.name %></h5>
               <p class="card-text">This classic is made by combining equal parts Scotch, sweet vermouth, Cherry Heering (the “blood”), and orange juice (the “sand”)</p>
               <p class="card-text"><small class="text-muted">See Recepie</small></p>
             </div>
           </div>
         </li>
       <%# end %>
     </ul>
   </div>
 </div>
 -->
